
# Telegram Config
BOT_TOKEN=12345:xxxXXX
PROVIDER_TOKEN=1234:TEST:xyyyx

# Database Config
DB_NAME=telegram_ecommerce
DB_HOST=db
DB_USER=bot-user
DB_PASSWORD=bot-user-1234

# App Config
ADMINS=raulpy271,billy_boy,mathew02
